body{
    background-color: azure;
    display: flex;
    margin: 20px;
}
.javascript, .css{
    border: 1px solid black;
    margin: 20px;
    background-color: rgba(38, 38, 140, 0.885);
    color: white;
    padding: 10px;
    border-radius: 10px;
}
